<ion-header>
  <ion-toolbar>
    <ion-title>QuestionDetails</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="question-details">
    <ion-row class="details-content">
      <ion-col size="12">
        <h1 class="question-title">{{ question.question }}</h1>
      </ion-col>
      <ion-col size="12">
        <p class="vote-call-to-action">
          Was this question usefull? Rate it!
        </p>
        <ion-row class="question-actions-row">
          <ion-col size="4">
            <ion-button class="question-action-button up-vote" shape="round" expand="block" size="small" color="dark" (click)= "upVoteQuestion()">
              <!-- <ion-icon slot="start" name="arrow-up"></ion-icon> -->
              <div>Up-vote</div>
            </ion-button>
          </ion-col>
          <ion-col size="3" class="score-col">
            <div class="score-wrapper">
              <span class="question-score" [ngClass]="{'good-score': (question.positiveVotes - question.negativeVotes) > 0, 'no-score': (question.positiveVotes - question.negativeVotes) == 0, 'bad-score': (question.positiveVotes - question.negativeVotes) < 0}">{{ question.positiveVotes - question.negativeVotes }}</span>
              <ion-button class="favourite-button" size="small" shape="round" fill="clear" icon-only>
                <ion-icon name="ios-star"></ion-icon>
              </ion-button>
            </div>
          </ion-col>
          <ion-col size="4">
            <ion-button class="question-action-button down-vote" shape="round" expand="block" size="small" color="dark" (click)= "downVoteQuestion()">
              <!-- <ion-icon slot="end" name="arrow-down"></ion-icon> -->
              <div>Down-vote</div>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="answers.length == 0">
    <h3 class="answers-call-out">
      There are no answers to this question. Be the first one to answer!
    </h3>
  </div>

  <div *ngIf="answers.length > 0">
    <h3 class="answers-call-out">
      <span class="call-out-explanation">We found </span>
      <ion-badge class="call-out-tag">{{ answers.length }}</ion-badge>
      <span> Answers for this question!</span>
    </h3>

    <ion-list class="answers-list">
      <ion-item class="answer-item" *ngFor="let answer of answers">
        <ion-row>
          <ion-col class="votes-col" size="2">
            <ion-button class="vote-button up-vote" fill="clear" size="small" (click)= "addPositiveVote(answer)">
              <ion-icon name="arrow-up"></ion-icon>
            </ion-button>
            <span class="answer-score" [ngClass]="{'good-score': (answer.positiveVotes - answer.negativeVotes) > 0, 'no-score': (answer.positiveVotes - answer.negativeVotes) == 0, 'bad-score': (answer.positiveVotes - answer.negativeVotes) < 0}">{{ answer.positiveVotes - answer.negativeVotes }}</span>
            <ion-button class="vote-button down-vote" fill="clear" size="small" (click)= "addNegativeVote(answer)">
              <ion-icon name="arrow-down"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="10">
            <ion-row class="answer-details">
              <ion-col size="12">
                <p class="answer-text">{{ answer.answer }}</p>
              </ion-col>
              <ion-col size="4" class="votes-details">
                <div class="details-wrapper">
                  <span class="total-votes">{{ answer.positiveVotes + answer.negativeVotes }}</span>
                  <span class="details-text">Votes</span>
                </div>
              </ion-col>
              <ion-col size="4" class="actions-details">
                <ion-button class="edit-button" size="small" shape="round" fill="clear" color="dark" (click)="editAnswerModal(answer)">
                  <ion-icon name="md-create"></ion-icon>
                </ion-button>
                <ion-button class="delete-button" size="small" shape="round" fill="clear" color="danger" (click)="delete(answer.id)">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="createAnswerModal()">
      <b>Know the Answer? Don't be shy!</b>
    </ion-button>
  </ion-toolbar>
</ion-footer>
