<ion-header>
  <ion-toolbar>
    <ion-title>LearnFeed</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="category-concept-card" [style.background-color]="category.background" *ngFor="let category of categories" (click)="openDetails(category.slug)">
    <ion-card-header>
      <ion-card-title class="category-title">{{ category.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="category-description">
        {{ category.description }}
      </p>
      <ion-row>
        <ion-col no-padding>
          <ion-badge class="category-tag" *ngFor="let tag of category.tags">{{ tag.name }}</ion-badge>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
