<ion-header>
  <ion-toolbar>
    <ion-title>Learn Ionic!</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row class="category-concept-details" [style.background-color]="category.background">
    <ion-col size="12">
      <h2 class="category-title">Learn all about {{ category.title }}!</h2>
    </ion-col>
    <ion-col size="12">
      <p class="category-description">
        {{ category.description }}
      </p>
    </ion-col>
  </ion-row>

  <div *ngIf="questions.length == 0">
    <h3 class="questions-call-out">
      There are no questions at the time
    </h3>
  </div>

  <div *ngIf="questions.length > 0">
    <h3 class="questions-call-out">
      <span>Find all the Questions and Answers about </span>
      <ion-badge class="call-out-tag">{{ category.title }}</ion-badge>
      <span class="call-out-explanation"> from the community</span>
    </h3>

    <ion-list class="questions-list">
      <ion-item class="question-item" *ngFor="let question of questions">
        <ion-row>
          <ion-col class="votes-col" size="2">
            <ion-button class="vote-button up-vote" fill="clear" size="small" (click)= "addPositiveVote(question)">
              <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
            </ion-button>
            <span class="question-score" [ngClass]="{'good-score': (question.positiveVotes - question.negativeVotes) > 0, 'no-score': (question.positiveVotes - question.negativeVotes) == 0, 'bad-score': (question.positiveVotes - question.negativeVotes) < 0}">{{ question.positiveVotes - question.negativeVotes }}</span>
            <ion-button class="vote-button down-vote" fill="clear" size="small" (click)= "addNegativeVote(question)">
              <ion-icon slot="icon-only" name="arrow-down"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="10">
            <ion-row class="question-details">
              <ion-col size="12">
                <h2 class="question-text" (click)="openAnswers(question)">{{ question.question }}</h2>
              </ion-col>
              <ion-col size="4" class="votes-details">
                <div class="details-wrapper">
                  <span class="total-votes">{{ question.positiveVotes + question.negativeVotes }}</span>
                  <span class="details-text">Votes</span>
                </div>
              </ion-col>
              <ion-col size="4" class="answers-details" (click)="openAnswers(question)">
                <div class="details-wrapper">
                  <span class="total-answers">{{ question.answers.length }}</span>
                  <span class="details-text">{{ (question.answers.length > 1 || question.answers.length == 0) ? 'Answers' : 'Answer' }}</span>
                </div>
              </ion-col>
              <ion-col size="4" class="actions-details">
                <ion-button class="delete-button" size="small" shape="round" fill="clear" color="danger" (click)="delete(question.id)">
                  <ion-icon slot="icon-only" name="ios-trash-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="createQuestionModal()">
      <b>Have a Question? Ask!</b>
    </ion-button>
  </ion-toolbar>
</ion-footer>
